<div class="about">
    <div class="about__container">
        <div class="about__me">
            <div class="about__header">
                <h3 class="about__title">
                    Nossa
                    <strong>história</strong>
                </h3>
            </div>
            <div class="about__content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean at eros sed lacus varius maximus et pretium mauris. Donec justo risus, fermentum quis risus sed, lacinia facilisis felis. Morbi neque massa, vehicula vel aliquam a, efficitur sollicitudin sapien. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nam tincidunt ornare turpis vel fringilla. Mauris non magna nulla. Etiam eget tristique velit. Nullam ac tellus molestie, dapibus ipsum et, tincidunt urna. Praesent tempor ligula nec urna fringilla, at convallis velit rhoncus.
            </div>
        </div>
        <figure class="about__figure">
            <img src="@img(about)" alt="Nossa História">
        </figure>
        <div class="about__news">
            {{widget type="interface/widget_newsletter" template="interface/widgets/newsletter.phtml" identificador="newsabout" texto="<h3>Inscreva-se</h3>
<p>Para receber promoções e novidades!</p>" label_email="E-mail:" placeholder_email="Seu e-mail..." texto_botao="Cadastrar" exibir_nome="1" label_nome="Nome:" placeholder_nome="Seu nome..."}}
        </div>
    </div>
</div>