<div class="banner banner--vitrine">
    <div class="banner__container">
        <div class="banner__item">
            <figure class="banner__figure">
                <a class="banner__link" href="#banner-vitrine"><img src="@img(banner-vitrine-01)" alt="Vestidos curtos" class="banner__img"></a>
                <legend class="banner__legend">
                    Vestidos curtos
                    <span>
                        ver todos 
                        <svg class="ico z-next banner__ico">
                            <use xlink:href="#z-next" />
                        </svg>
                    </span>
                </legend>
            </figure>
        </div>
        <div class="banner__item">
            <figure class="banner__figure">
                <a class="banner__link" href="#banner-vitrine"><img src="@img(banner-vitrine-02)" alt="Macacões" class="banner__img"></a>
                <legend class="banner__legend">
                    Macacões
                    <span>
                        ver todos 
                        <svg class="ico z-next banner__ico">
                            <use xlink:href="#z-next" />
                        </svg>
                    </span>
                </legend>
            </figure>
        </div>
        <div class="banner__item">
            <figure class="banner__figure">
                <a class="banner__link" href="#banner-vitrine"><img src="@img(banner-vitrine-03)" alt="Vestidos longos" class="banner__img"></a>
                <legend class="banner__legend">
                    Vestidos longos
                    <span>
                        ver todos 
                        <svg class="ico z-next banner__ico">
                            <use xlink:href="#z-next" />
                        </svg>
                    </span>
                </legend>
            </figure>
        </div>
    </div>
</div>