<div class="footer__row">
    <div class="footer__box">
        <h3 class="footer__title">Fale conosco</h3>
        <div class="footer__content">
            {{block type="menubuilder/output" identifier="footer-fale-conosco"}}
        </div>
    </div>
    <div class="footer__box">
        <h3 class="footer__title">Institucional</h3>
        <div class="footer__content">
            {{block type="menubuilder/output" identifier="footer-institucional"}}
        </div>
    </div>
    <div class="footer__box">
        <h3 class="footer__title">Pagamento</h3>
        <div class="footer__content">
            {{widget type="interface/widget_pagtos" template="interface/widgets/pagtos.phtml" identificador="payment" pagtos="all"}}
        </div>
    </div>
    <div class="footer__box">
        <h3 class="footer__title">Segurança</h3>
        <div class="footer__content">
            {{widget type="interface/widget_seals" template="interface/widgets/seals.phtml" identificador="security" seals="all"}}
        </div>
    </div>
    
</div>

<div class="footer__copyright">
	{{widget type="cms/widget_block" template="cms/widget/static_block/default.phtml" block_id="footer-texto-2"}}
</div>