.breadcrumb
    &__home
        .breadcrumb__link:before
            display: none

    &__link, &__sep, &__last
        font-size: 12px
        font-weight: regular
        color: #959595

    &__sep
        margin: 0 5px