.myaccount
    &__header
        a
            display: flex
            justify-content: center
            align-items: center
            width: 48px
            height: 48px

        .ico
            width: 23px
            height: 23px

    &__content
        display: none !important

    .header &
        margin-left: 0

    @media (min-width: 993px)
        min-width: 270px