.mycart
    position: relative
    z-index: 2

    &__content
        font-size: 14px

    &__header
        a
            display: flex
            justify-content: center
            align-items: center
            width: 48px
            height: 48px

        .ico
            width: 23px
            height: 23px

    &__item
        border-bottom: solid 1px #ebebeb

    &__remove
        background: #b7b7b7
        width: 17px
        height: 17px
        border-radius: 50%
        padding: 0
        display: flex
        justify-content: center
        align-items: center
        color: #fff

        span
            display: none

        &:before
            display: none

        .ico
            width: 7px
            height: 7px

    &__details
        display: flex
        flex-flow: column nowrap

        .price
            order: -2
            font-size: 14px
            font-weight: bold

        .truncated
            display: none

    &__name
        order: -2
        font-size: 14px
        font-weight: regular

    &__qtd
        font-size: 12px
        font-weight: regular
        color: #959595

        .label
            display: none

        &:before
            content: 'Quantidade: '

    &__totals
        display: flex
        justify-content: space-between
        align-items: center
        margin: 15px 0 10px

        .price-box-avista, .price-box-parcelado
            display: none

        .title
            font-size: 14px
            font-weight: bold
            margin: 0

            &:before
                content: 'Subtotal'

            span
                display: none

        .regular-price
            .label
                display: none

            .price span
                font-size: 14px
                font-weight: bold

    &__actions
        margin: 0
        border: 0

        .editar
            display: none

        .finalizar
            display: flex
            justify-content: center
            align-items: center
            width: 100%
            background: #4eaf7d
            color: #fff
            font-size: 13px
            font-weight: regular
            text-transform: uppercase
            text-align: centerx
            height: 30px
            padding: 0

            &:before
                content: 'Finalizar Compra'

            span
                display: none

    .header &
        margin-left: 0

    @media (max-width: 992px)
        &__content
            margin-top: 65px

    @media (min-width: 993px)
        .header &
            margin-left: 15px

        &__content
            box-shadow: 0px 5px 5px 0px rgba(8, 8, 8, 0.13)