.newsletter
    max-width: 250px
    margin: 0 auto

    &__form
        display: block

    &__text
        h3
            font-size: 25px
            font-weight: regular
            text-transform: uppercase
            letter-spacing: 4px
            color: #150f0f
            margin-bottom: 10px

        p
            font-size: 14px
            font-weight: regular
            color: #150f0f

    &__btn
        display: flex
        justify-content: center
        align-items: center
        padding: 0
        height: 32px
        width: 168px
        border-radius: 0
        font-size: 14px
        font-weight: regular
        text-transform: uppercase
        margin: 20px auto 0

    .input-text
        box-shadow: none
        border-radius: 0
        border: 0
        border-bottom: solid 1px #e8e8e8
        text-align: center
        font-size: 13px
        font-weight: regular
        color: color1_bg

        &::placeholder
            color: #bfbfbf

        &:focus::placeholder
            color: transparent
