.opc
    .header
        .myaccount
            display: none

    .footer
        padding: 50px 0 0

        &__contact, &__shipments
            display: none

        .flex--j-between
            justify-content: center

        .flex--a-center
            align-items: flex-start

        .title
            font-size: 15px
            font-weight: bold
            color: #150f0f
            text-transform: uppercase
            margin-bottom: 15px
