.qty-wrapper
    background: #fff
    border: solid 1px #ebebeb
    border-radius: 0
    max-width: 65px

    input
        width: 100%
        background: none
        box-shadow: none
        border: 0
        font-size: 14px
        font-weight: regular
        color: #9e9e9e
        height: 40px

    .input-box
        display: flex
        justify-content: space-between
        align-items: stretch

    .bt-box
        position: static
        border-radius: 0
        box-shadow: none
        min-height: 100%
        right: 0
        top: 0
        transform: none

    .bt.plus, .bt.less
        display: flex
        justify-content: center
        align-items: center
        text-indent: 0
        font-size: 13px
        font-weight: regular
        color: #9e9e9e
        background: none
        width: 20px
        height: 50%
        background: #fff
        box-shadow: 0 0 0 1px #ebebeb
        border-radius: 0

        &:before
            display: none

        span
            display: inline